/*Index*/
.parrafo{
    color: antiquewhite;
background-color: rgb(247, 0, 0);
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h1,h2{ color: black;
    background-color: aquamarine;

 }


/*Pagina Contacto*/