/*Index*/
.parrafo{
    color: antiquewhite;
background-color: rgb(247, 0, 0);
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h1,h2{ color: black;
    background-color: aquamarine;
color: rgb(133, 50, 211) ;
 }


/*Pagina Contacto*/
/*Colores de la pagina:
1. NEGRO - TITULOS
2. BACKGROUD: aquamarine
3. BLANCO - SUBTITULOS
4.BACKGROUND SECUNDARIO: rgb(133, 50, 211) ;*/
